x{% extends 'base.html' %}

{% block content %}


    <h1>{% block title %} Edit "{{ stocks['title'] }}" {% endblock %}</h1>

    <form method="post">
        <label for="title">Title</label>
        <br>
        <input type="text" name="title" placeholder="Enter  Title" value="{{request.form['title'] or stock['title']}}"/>
        <br>
        <label for="content">price</label>
        <br>
        <textarea
          name="content"
          placeholder="Price"
          rows="15"
          cols="60"
       >{{ request.form['price'] or stock['price'] }}</textarea>
       <br>
        <button type="submit">Submit</button>

    </form>
{% endblock %}
